version: "3.9"

services:
  cassandra:
    image: cassandra:5.0
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=256M
    healthcheck:
      test: ["CMD", "cqlsh", "-e", "describe cluster"]
      interval: 10s
      timeout: 5s
      retries: 10

  cassandra-init:
    image: cassandra:5.0
    container_name: cassandra-init
    depends_on:
      cassandra:
        condition: service_healthy
    entrypoint: ["sh", "-c", "until cqlsh cassandra -e \"CREATE KEYSPACE IF NOT EXISTS userkeyspace WITH replication = {'class':'SimpleStrategy','replication_factor':1};\"; do sleep 2; done"]

  app:
    build: .
    container_name: client-streaming-app
    depends_on:
      cassandra-init:
        condition: service_completed_successfully
    environment:
      - SPRING_CASSANDRA_CONTACT_POINTS=cassandra
      - SPRING_CASSANDRA_PORT=9042
      - SPRING_CASSANDRA_LOCAL_DATACENTER=datacenter1
      - SPRING_CASSANDRA_KEYSPACE_NAME=userkeyspace
      - SPRING_CASSANDRA_SCHEMA_ACTION=create_if_not_exists
    ports:
      - "9090:9090"
